{#
/**
 * @file
 * Default theme implementation to display the trust syndication overview page.
 *
 * Available variables:
 * - filters: The filter form.
 * - table: The table of nodes with trust metadata.
 *
 * @ingroup themeable
 */
#}
<div class="trust-syndication-overview-page">
  <div class="layout-content">
    {{ filters }}
    {{ table }}
  </div>
</div> 